# Virtual environment
.venv/
env/
venv/

# Python bytecode
__pycache__/
*.pyc

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sensitive information
.env

# Log files
*.log

# Database files
db.sqlite3

# Build artifacts
dist/
build/
*.egg-info/